{
	email guillaume.rozier73@gmail.com
	servers {
		protocol {
			experimental_http3
		}
	}
}

(static) {
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.json *.pdf
	}
	header @static Cache-Control max-age={args.0}
}

(security) {
	header {
		# enable HSTS
		Strict-Transport-Security max-age=31536000;
		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff
		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
		# Blocage des iframe
		X-Frame-Options deny
	}
}

(404) {
	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		handle @404 {
			rewrite * /404.html
			respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
			file_server
		}
	}
}

(logs) {
    log {
        output file /var/log/caddy/{args.0}.log
    }
}


(500) {
	handle_errors {
		@500 {
			expression {http.error.status_code} == 502
		}
		handle @500 {
			rewrite * /busy.html
			file_server
		}
	}
}

# Site principal

guillaumerozier.fr,
www.guillaumerozier.fr,
www.covidtracker.fr {
	redir https://covidtracker.fr{uri}
}

covidtracker.fr {
	redir /vitemadose* https://vitemadose.covidtracker.fr
	
	root * /var/www/covidtracker.fr
	encode zstd gzip
	file_server
	import static 900
	import security
	import 500
	import logs covidtracker.fr

	@cache {
		not header_regexp Cookie "comment_author|wordpress_[a-f0-9]+|wp-postpass|wordpress_logged_in"
		not path_regexp "(/wp-admin/|/xmlrpc.php|/wp-(app|cron|login|register|mail).php|wp-.*.php|/feed/|index.php|wp-comments-popup.php|wp-links-opml.php|wp-locations.php|sitemap(index)?.xml|[a-z0-9-]+-sitemap([0-9]+)?.xml)"
		not method POST
		not expression {query} != ''
    }

    route @cache {
        try_files /wp-content/cache/cache-enabler/{host}{uri}/https-index.html /wp-content/cache/cache-enabler/{host}{uri}/index.html {path} {path}/index.php?{query}
    }

    php_fastcgi unix//run/php/php7.4-fpm-caddy.sock
}

# Fichiers statiques

files.covidtracker.fr {
	root * /var/www/files.covidtracker.fr
	encode zstd gzip
	file_server browse
	import logs files.covidtracker.fr
	import static 900
	import 404
}

# Vite ma dose

vmd.covidtracker.fr,
vitemado.se,
www.vitemado.se,
vitemadose.app,
www.vitemadose.app,
vitemadose.org,
www.vitemadose.org,
vitemadose.net,
www.vitemadose.net,
vite-ma-dose.fr,
www.vite-ma-dose.fr,
www.vitemadosedevaccin.fr,
vitemadosedevaccin.fr {
	redir https://covidtracker.fr/vitemadose/
}

vitemadose.covidtracker.fr {
	root * /var/www/vitemadose.covidtracker.fr
	encode zstd gzip
	file_server browse
	
	# Pas de cache navigateur sur le fichier index.html
	@index {
        file
        path /*.html
    }
    header @index Cache-Control "max-age=0, no-cache, no-store, must-revalidate"

	import logs vitemadose.covidtracker.fr
	import 404
	import static 900
	import security
	header Access-Control-Allow-Origin https://vitemadose.covidtracker.fr
	try_files {path} {path}/ /index.html
}

dev.vitemado.se {
 	root * /var/www/dev.vitemado.se
 	encode zstd gzip
 	file_server browse
    header Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
	import 404
 	import security
 	header Access-Control-Allow-Origin https://vitemadose.covidtracker.fr
 	try_files {path} {path}/ /index.html
 }

chronodose.fr {
	redir https://vitemadose.covidtracker.fr
}

# Site statique en développement

dev.covidtracker.fr {
	root * /var/www/dev.covidtracker.fr
	encode zstd gzip
	file_server browse
	import logs dev.covidtracker.fr
	import 404
	import security
	import static 0
	try_files {path}.html {path}
}

# Domaines annexes

www.vaccinplanner.fr,
vaccinplanner.fr {
	redir https://covidtracker.fr/vaccinplanner/
}

www.covidexplorer.fr,
covidexplorer.fr {
	redir https://covidtracker.fr/covidexplorer/
}

dep.covidtracker.fr {
    redir https://covidtracker.fr/dashboard-departements/?dep={uri}
}
